

body  {
	margin: auto;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	font-family: verdana, arial;
}

footer {
	font-size: 10px;
	color: black;
	text-align: center;
	padding-top: 10px;
	background-color: white;
	height: 50px;
}

li  {
	display: inline;
}

li a {
padding: 15px 50px;

}


.h1 {
	margin: 25px;
	font-size: 2.5em;
	color: white;
	font-weight: lighter;
}
.nav {
    background-color: white;
	height: 60px;
	font-family: verdana;
	font-weight: bolder;
}

.nav a:link {
	color: black;
	text-decoration: none;
}
.nav a:visited {
	color: black;
	text-decoration: none;
}
.nav a:hover {
	color: grey;
	text-decoration: none;
}
.nav a:active {
	color: grey;
	text-decoration: none;
}


.supplierfonts {
	color: white;

}

.supplierfonts p{
	color: white;
	margin-left: 25px;

}

.supplierfonts h2{
	color: white;
	margin-left: 25px;
}

div.supplierfonts a:link {
	color:white;
	margin-left: 25px;
}

.supplierlogo {
	display: block;
	position: relative;
	height: 25px;
	padding: 0 20px 0 20px;
}


#Elkjop { 
	color: white;
	border: 5px solid grey;
	margin-left: 25px;
  }

#Japan { 
  color: white;
  border: 5px solid grey;
  margin-left: 25px;
}

#Komplett { 
  color: white;
  border: 5px solid grey;
  margin-left: 25px;
  margin-bottom: 25px;
}

.supplierfonts a{
	color: white;
}